<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAznu-a4Nkli4KxWghX8hCDHzTlFFHA4og</string>
	<key>GCM_SENDER_ID</key>
	<string>1029662555024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bikeOnlineApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bike-online-ba245</string>
	<key>STORAGE_BUCKET</key>
	<string>bike-online-ba245.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029662555024:ios:3f6cf1d5cc6596e95b1115</string>
</dict>
</plist>